@import "../assets/compiled/css/app.css";
@import "../assets/compiled/css/app-dark.css";
@import "../assets/compiled/css/iconly.css";
@import "../assets/compiled/css/auth.css";
@import "../assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "../assets/compiled/css/table-datatable-jquery.css";
@import "../assets/extensions/filepond/filepond.css";
@import "../assets/extensions/filepond-plugin-image-preview/filepond-plugin-image-preview.css";
@import "../assets/extensions/sweetalert2/sweetalert2.min.css";

::selection {
    background: #dc3546cc;
    color: #fff;
}

.btn-delete-modal,
.btn-delete-modal:hover {
    color: #dc3545;
}

.btn-delete-modal:active {
    color: #fff;
}

.close-btn:hover {
    color: #9e2431;
}
